.message {
    margin: 1em;
    font-size: 1.5em;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    align-content: flex-start;
}

.message>span {
    min-width: 32px;
    margin: 0;
}

.message>span:first-child {
    margin-right: 1em;
    
}

button.reset {
    margin-left: 1em;
    margin-top: 1em;
    font-size: 1.5em;
    padding: 0.5em 0.75em;
    background-color: rgb(232, 232, 232);
    border-radius: 0.5em;
    border: 2px solid rgb(100, 100, 100);
    box-shadow: 2px 2px #B1B1B1;
}

button.reset:hover {
    background-color: rgb(255, 255, 255);
    border-color: rgb(50,50,50);
}

button.reset:active {
    box-shadow: 0 0;
}