.message {
    font-size: 24px;
    display: flex;
    flex-flow: column nowrap;
    min-width: 10em;
}

.message>div {
    display:flex;
    flex-wrap: nowrap;
    margin-bottom: 8px;
}

.message>div:last-child {
    margin-bottom: 0;
}

.message span {
    margin-right: 0.7em;
}

.message img {
    min-width: 32px;
    margin-right: 0.7em;
}

.message span:last-child, .message img:last-child {
    margin-right: 0.25em;
}
