.board {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr);
    border: 2px solid #B1B1B1;
    padding: 4px;
    box-shadow: 8px 8px #666666;
    background: url("./Assets/board-grain.jpg");
}

.board-space {
    border-width: 0;
    border-style: solid;
    border-top: 1px solid #7C7C7C;
    border-left: 1px solid #A2A2A2;
    border-bottom: 1px solid #DFDFDF;
    border-right: 1px solid white;
    padding: 8px;
    background-color: rgba(232,230,230,0.2);
    display: flex;
    justify-content: center;
    align-items: center;
}

button.board-space {
    cursor: pointer;
    background-color: rgba(248,248,248,0.6);
    border-color: rgba(88, 88, 88, 0.5);
}

button.board-space:hover {
    border-color: rgba(88, 88, 88, 1);
}

button.board-space:active {
    background-color: rgba(255,255,255,1);
}
